<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteBase /goprint/mvc/
    
    # 排除真实存在的文件和目录
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # 重写所有请求到 index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>